@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
	--background:#000;
	--background-lighter:#282727;
	--primary:#fff;
	--secondary:#b7b7b7;
	--mainFont:"Inter", sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	text-align: center;
	background-color:var(--background);
	margin:0px;
	font-family: var(--mainFont);
	color:var(--primary);
}
::-webkit-scrollbar {
	display: none;
}

/* form controls*/
form {
	max-width:800px;
	text-align:left;
	padding: 3px 20px;
	background-color:var(--background);
	border-radius:5px;
	line-height:10px;
	transition:0.3s;
	box-shadow: none;
}
form span{
	text-align:center;
}
input{
	width:285px;
	height:20px;
	background-color:var(--background);
	border:none;
	color:var(--primary);
	transition:0.3s;
}
input:focus{
	background-color:var(--background-lighter);
	box-shadow: 5px 5px black;
	outline:none;
}
textarea{
	width:285px;
	height:100px;
	background-color:var(--background);
	border:none;
	font-family: var(--mainFont);
	color:var(--primary);
	resize: none;
	transition:0.3s;
}
textarea:focus{
	background-color:var(--background-lighter);
	border-color:white;
	box-shadow: 5px 5px black;
	outline:none;
}
button{
	font-family: var(--mainFont);
	padding:5px 30px;
	color:var(--primary);
	background-color:var(--background);
	border:1px solid var(--secondary);
	transition:0.3s;
}
button:hover{
	background-color:var(--background-lighter);
	border-color:white;
	box-shadow: 5px 10px black;
}

/* body */
p{
	color:var(--primary);
}

h1, h2, h3, h4, h5, h6{
	color:var(--primary);
}
a{
	color:var(--secondary);
	text-decoration:none;
	transition:0.3s;
}
a:hover{
	color:var(--primary);
}
.replit:hover{
	color:#ff5500;
}
.discord:hover{
	color:#5865F2;
}
.email:hover{
	color:rgb(84, 129, 173);
}
.twitter:hover{
	color:dodgerblue;
}
.socialRumbles:hover{
	color:gold;
}
.youtube:hover{
	color:#D9544D;
}
.github:hover{
	color:#9d9de2;
}
.spotify:hover{
	color:#46cb5b;
}
.reddit:hover{
	color:#ff2700;
}
.yofro:hover{
	color:#e75480;
}

/* navbar */
ul{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
	font-size:18px;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	background-color:var(--background);
	font-family: var(--mainFont);
}
li {
	float: left;
}

li a {
	display: block;
  	color: var(--secondary);
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	transition:0.3s;
}
li a:hover {
	color:var(--primary);
}
li span {
	display: block;
  	color: var(--primary);
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
mark{
	border:1px solid var(--secondary);
}

/* main page components */
.footer {
	position: fixed;
	left: 0;
  	bottom: 0;
  	width: 100%;
}
.head{
	color:var(--primary);
	font-size:27px;
}
.header{
	max-width:800px;
	text-align:center;
	padding:10px;
}
.blogCard {
	max-width:800px;
	text-align:left;
	padding:10px;
	background-color:var(--background);
	border:1px solid var(--background-lighter);
	border-radius:0px;
	box-shadow: none;
	transition:0.3s;
}
.blogCard:hover {
	box-shadow: 5px 5px var(--background-lighter);
}
.blogCard h3, h5{
	font-weight:normal;
}
.blogCard h3{
	color:var(--primary);
}
.blogCard h5{
	color:var(--secondary);
}

.galleryCard{
	max-width:650px;
	text-align:left;
	padding:20px;
	background-color:var(--background);
	border-radius:0px;
	border:1px solid var(--background-lighter);
	box-shadow: none;
	transition:0.3s;
}
.galleryCard:hover {
	box-shadow: 5px 5px var(--background-lighter);
}
.galleryCard p{
	color:var(--secondary);
}
.galleryCard a{
	color:var(--primary);
}

.container{
	text-align:left;
	line-height:50px;
	margin:auto;
	max-width:500px;
	align-items:center;
	vertical-align:middle;
	color:var(--secondary);
}
.container a{
	color:var(--primary);
}
.container a:hover{
	color:var(--secondary);
}
.contact h2{
	font-weight:normal;
}
.contact p, a{
	font-size:19px;
}