@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins&display=swap');
:root{
	--background:#000;
	--background-lighter:#0c0c0c;
	--background-lightest:#9d9de2;
	--primary:#a8a6a6;
	--secondary:#5e5e5e;
	--links:#9d9de2;
	--buttonHover:var(--background-lighter);
	--mainFont:'Plus Jakarta Sans', sans-serif;
	--secondFont:'Poppins', sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 24px;
	background-color:var(--background);
	margin:0px;
	font-family: var(--mainFont);
	color:var(--primary);
}
::-webkit-scrollbar {
	display: none;
}

/* form controls*/
form {
	max-width:800px;
	text-align:left;
	padding: 3px 20px;
	background-color:var(--background-lighter);
	border-radius:5px;
	line-height:10px;
	transition:0.3s;
	box-shadow: none;
}
form:hover{
	box-shadow: 5px 5px var(--background-lightest);
}
form span{
	text-align:center;
}
input{
	width:285px;
	height:20px;
	background-color:var(--background);
	border:none;
	font-family: var(--secondFont);
	color:var(--primary);
	transition:0.3s;
}
input:focus{
	background-color:var(--buttonHover);
	box-shadow: 5px 5px black;
	outline:none;
}
textarea{
	width:285px;
	height:100px;
	background-color:var(--background);
	border:none;
	font-family: var(--secondFont);
	color:var(--primary);
	resize: none;
	transition:0.3s;
}
textarea:focus{
	background-color:var(--buttonHover);
	border-color:white;
	box-shadow: 5px 5px black;
	outline:none;
}
button{
	font-family: var(--mainFont);
	padding:5px 30px;
	color:var(--primary);
	background-color:var(--background);
	border:1px solid var(--secondary);
	transition:0.3s;
}
button:hover{
	background-color:var(--buttonHover);
	border-color:white;
	box-shadow: 5px 10px black;
}
label{
	font-size:22px;
	color:var(--primary);
}

/* body */
p{
	color:var(--primary);
	font-size:17px;
}
h1, h2, h3, h4, h5, h6{
	color:var(--primary);
}
code{
	background-color:var(--background-lightest);
	border-radius:5px;
	color:var(--background);
}
a{
	color:var(--secondary);
	text-decoration:none;
	transition:0.3s;
}
a:hover{
	color:var(--links);
	text-shadow: 0 0 20px var(--links);
}
.replit:hover{
	color:#ff5500;
	text-shadow: 0 0 20px #ff5500;
}
.discord:hover{
	color:#5865F2;
	text-shadow: 0 0 20px #5865F2;
}
.email:hover{
	color:var(--primary);
	text-shadow: 0 0 20px var(--primary);
}
.socialRumbles:hover{
	color:gold;
	text-shadow: 0 0 20px gold;
}
.youtube:hover{
	color:#D9544D;
	text-shadow: 0 0 20px #D9544D;
}
.github:hover{
	color:var(--background-lightest);
	text-shadow: 0 0 20px var(--background-lightest);
}
.spotify:hover{
	color:#46cb5b;
	text-shadow: 0 0 20px #46cb5b;
}
.reddit:hover{
	color:#ff2700;
	text-shadow: 0 0 20px #ff2700;
}
.big-space:hover{
	color:#e75480;
	text-shadow: 0 0 20px #e75480;
}

/* navbar */
ul{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
	font-size:20px;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	background-color:var(--background);
	font-family: var(--secondFont);
}
li {
	float: left;
}

li a {
	display: block;
  	color: var(--primary);
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	transition:0.3s;
}
li a:hover {
	text-shadow: 0 0 20px var(--links);
}
li span {
	display: block;
  	color: var(--primary);
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
li span:hover{
	text-shadow: 0 0 20px var(--links);
}

/* main page components */
.footer {
	position: fixed;
	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color:var(--background-lighter);
  	color: var(--secondary);
  	text-align: center;
	font-family:var(--secondFont);
}
.head{
	color:var(--background-lightest);
	font-size:27px;
}
.header{
	max-width:800px;
	text-align:center;
	padding:10px;
	background-color:var(--background-lighter);
	border-radius:5px;
}
.blogCard {
	max-width:800px;
	text-align:left;
	padding:10px;
	background-color:var(--background-lighter);
	border-radius:5px;
	box-shadow: none;
	transition:0.3s;
}
.blogCard:hover {
	box-shadow: 5px 5px var(--background-lightest);
}
.blogCard h3{
	color:var(--background-lightest);
}

.galleryCard{
	max-width:650px;
	text-align:left;
	padding:20px;
	background-color:var(--background-lighter);
	border-radius:5px;
	box-shadow: none;
	transition:0.3s;
}
.galleryCard:hover {
	box-shadow: 5px 5px var(--background-lightest);
}
.galleryCard p{
	color:var(--background-lightest);
}
.galleryCard a{
	color:var(--primary);
}
.galleryCard a:hover{
	text-shadow:none;
}

.aboutContainer{
	align-items:center;
	vertical-align:middle;
}
.aboutContainer div{
	align-items:center;
	max-width:400px;
	text-align:left;
	padding:20px;
	font-size:22px;
	background-color:var(--background-lighter);
	transition:0.3s;
	box-shadow:none;
}
.aboutContainer div:hover{
	cursor:pointer;
	color:var(--background-lightest);
	text-shadow: 0 0 20px #000;
}
.aboutContainer div.top{
	border-radius:45px 0px 0px 0px;
}
.aboutContainer div.bottom{
	border-radius:0px 0px 45px 0px;
}
.aboutContainer a{
	color:var(--primary);
}
.aboutContainer a:hover{
	color:var(--secondary);
	text-shadow: 0 0 20px #000;
}